/* 
.article-content {
  display: flex;
  flex-direction: column-reverse;
} */



.text-article {
  font-family: 'Times New Roman', Times, serif;
}

.title-speos {
  font-family: 'Arial Black';
  padding: 1.5rem;
}

.links-presse {
  display: flex;
  text-align: center;
  padding: 3rem 0;
}

.links-presse a {
  padding: 0 1rem;
  margin: 0 auto;
  text-decoration: underline;
  font-size: 19px;
  background-color: black;
  font-weight: bold;
  color: white;
}

.poh-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 2rem 0;
}

.links-poh {
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

.links-poh a {
  text-decoration: underline;
}

