@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'VCR OSD Mono';
  src: url('./fonts/VCR-OSD-Mono.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  cursor: url('./cursor.svg') 75 75;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.container {
  max-width: 1800px;
}

.backstage-img {
  height: 40vh;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.7;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@layer base {
  body {
    @apply font-roboto;
  }
  p {
    @apply text-[18px];
  }
  h1 {
    @apply -tracking-[2px] uppercase mb-4 font-arial-black font-bold text-[45px] leading-[0.8];
  }
  h2 {
    @apply -tracking-[2px] uppercase mb-10 font-arial-black font-bold text-[120px] leading-[0.8];
  }
  h3 {
    @apply -tracking-[2px] uppercase mb-12 font-arial-black font-bold text-[35px] leading-[0.8];
  }
  .story-bg-container video {
    @apply w-full h-full object-cover fixed top-0 left-0 z-[-1];
  }
}

/* ! u can right pure css in top of file and copilot will suggest tailwind code while typing class name in @apply condition */
