@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'VCR OSD Mono';
  src: url('./fonts/VCR-OSD-Mono.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(25%);
  }
  100% {
    transform: translateX(50%);
  }
}

.navbar {
  z-index: 1; /* Ajoutez cette ligne */
}

.marquee {
  display: flex;
  animation: marquee 80s linear infinite;
}

body {
  cursor: url('./cursor.svg') 75 75;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}


.container {
  max-width: 1800px;
}

.backstage-img {
  height: 40vh;
}

.navbar-transition {
  transition: transform 0.2s;
}

.article {
  z-index: 0; /* Ajoutez cette ligne */
}

.title {
  z-index: 0;
}

.blur-background {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.7;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.gallery {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  column-width: 33%;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  padding: 0 12px;
}

.sticky-headline {
  position: fixed;
  top: 20%;
  left: 0;
  z-index: 105;
  transform: rotate(90deg);
  transform-origin: left bottom;
  width: 100vh;
  background: black;
}

@font-face {
  font-family: 'Arial Black';
  src: url('/path/to/arial-black.ttf');
  /* Autres propriétés de la police */
}

@layer base {
  body {
    @apply font-roboto;
  }
  p {
    @apply text-[18px];
  }
  h1 {
    @apply -tracking-[2px] uppercase mb-10 font-arial font-bold text-[45px] leading-[0.8];
  }
  h2 {
    @apply -tracking-[2px] uppercase mb-10 font-arial font-bold text-[100px] leading-[0.8];
  }
  h3 {
    @apply -tracking-[2px] uppercase mb-12 font-arial-black font-bold text-[35px] leading-[0.8];
  }
  .story-bg-container video {
    @apply w-full h-full object-cover fixed top-0 left-0 z-[-1];
  }
}

/* ! u can right pure css in top of file and copilot will suggest tailwind code while typing class name in @apply condition */
